$font-family-sf-pro-regular: "SFProRegular", sans-serif;

$color-text: #000000;
$color-text-inactive: #8B8B8B;
$color-link: #5375B7;

$color-line: #B9B9B9;
$color-background: #fff;
$color-background-photo: #C4C4C4;

$color-primary: #F1BD45;
$color-filters: #FFF3D8;

